[submodule "MeddySDK"]
	path = MeddySDK
	url = https://github.com/ChristianHinkle/MeddySDK.git
	branch = master
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "CppUtils"]
	path = CppUtils
	url = https://github.com/ChristianHinkle/CppUtils.git
[submodule "MeddyCLI"]
	path = MeddyCLI
	url = https://github.com/ChristianHinkle/MeddyCLI
[submodule "CMakePresets_General"]
	path = CMakePresets_General
	url = https://github.com/ChristianHinkle/CMakePresets_General
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "RapidJsonCmakeInterface"]
	path = RapidJsonCmakeInterface
	url = https://github.com/ChristianHinkle/RapidJsonCmakeInterface.git
